.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast img {
  padding: 10px;
}

.WeatherForecast .col {
  padding: 0px;
}
